@layer base {

  /* manrope-regular - latin-ext_latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v12-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/manrope-v12-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/manrope-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/manrope-v12-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/manrope-v12-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/manrope-v12-latin-ext_latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-600 - latin-ext_latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v12-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/manrope-v12-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/manrope-v12-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/manrope-v12-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/manrope-v12-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/manrope-v12-latin-ext_latin-600.svg#Manrope') format('svg'); /* Legacy iOS */
  }

  body {
    @apply text-white;
  }

}

@layer components {

}

@layer utilities {

}