{% extends 'base.html.twig' %}
{% block body %}
   <p>Hallo {{ receiver.firstName}},</p>
    <p>{{ notification.text }}</p>
    <p>
        Bis gleich im Creative Museum!<br />
        <a href="{{ domain }}">creativemuseum.landesmuseum.de</a>
    </p>
{% endblock %}