<div class="form-section">
    <f:for each="{feedbackOptions}" as="option" iteration="i">
        <div class="form-group t3js-item-container t3js-iterable t3js-options-item-{i.index}"
            data-template="t3js-options-item-[i]" data-iteration-target="class">
            <div class="form-section">
                <div class="row">

                    <f:form.hidden property="feedbackOptions.{i.index}.id" class="t3js-iterable" data="{
                            template: 'tx_creativemuseum_system_creativemuseumcmadm[campaignDto][feedbackOptions][[i]][id]',
                            iteration-target: 'name'
                        }" />

                    <div class="form-group col-sm-11">
                        <label for="feedbackOption_{i.index}_text" class="campaign-feedbackOption-title t3js-iterable"
                            data-template="feedbackOption_[i]_text" data-iteration-target="for">
                            Text
                        </label>
                        <f:form.textfield class="form-control t3js-iterable" id="feedbackOption_{i.index}_text"
                            property="feedbackOptions.{i.index}.text" data="{
                                template: 'tx_creativemuseum_system_creativemuseumcmadm[campaignDto][feedbackOptions][[i]][text]',
                                iteration-target: 'name'
                            }" />
                    </div>
                    <div class="form-group col-sm-1 t3js-options-controls-container text-right"></div>
                </div>
            </div>
        </div>
    </f:for>
</div>