{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<div class="recordlist mb-5 mt-4 border">
    <form action="" method="post" name="cm-campaigns">
        <div class="recordlist-heading row m-0 p-2 g-0 gap-1 align-items-center">

            <div class="col ms-2">
                <span class="text-truncate">
                    <a href="javascript:;">Kampagnenübersicht</a>
            </div>
            <div class="col-auto">
                <div class="btn-group me-2">
                    <f:link.action action="newCampaign" class="btn btn-default btn-sm">
                        <core:icon identifier="actions-add" size="small" />
                        Neue Kampagne anlegen
                    </f:link.action>
                </div>
            </div>
        </div>
        <div class="collapse show" data-state="expanded" id="recordlist-be_groups">
            <div class="table-fit mb-0">
                <table class="table table-striped table-hover mb-0" data-table="be_groups">
                    <thead>
                        <tr data-l10nparent="0" data-uid="0">
                            <th class="col-title nowrap">Titel der Kampagne</th>
                            <th class="col-responsive">Kurzbeschreibung</th>
                            <th class="col-start">Beginn</th>
                            <th class="col-end">Ende</th>
                            <th class="col-published">Veröffentlicht</th>
                            <th class="col-closed">Status</th>
                            <th class="col-control nowrap"><i>[Control]</i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{campaigns}" as="campaign">
                            <f:render partial="Campaigns/ListRow" arguments="{row: campaign}" />
                        </f:for>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>